@use '../styles/tokens' as tokens;
@use '../styles/theme' as theme;

:root {
  @include theme.system-theme;
}

:root[data-theme='light'] {
  @include theme.light-theme;
}

:root[data-theme='dark'] {
  @include theme.dark-theme;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
  padding: tokens.$padding-page;
  background: var(--ui-canvas-color);
  color: var(--ui-text-color);
  font-family: tokens.$font-family-base;
}
